.cert-card {
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.025);
    height: 100%;
    border-radius: 0;
}

.cert-card .card-title {
    font-size: 1.125rem;
}

.cert-card .card-text {
    font-size: 0.875rem;
}

.cert-card .card-footer {
    border-top: none;
    background: none;
    padding-top: 0;
}

.cert-card img{
    height: 200px;
    object-fit: contain;
}

