body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Aurellyah Lovely Free Font';
  font-style: normal;
  font-weight: 400;
  src: local('Aurellyah Lovely Free Font'), url('https://fonts.cdnfonts.com/s/88036/Aurellyah Lovely Script Free.woff') format('woff');
}