.intro-picture{
    max-width: 600px;
}

.section-title{
    position: relative;
    padding-left: 1.5rem;
}

.section-title:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
}

.item{
    margin-bottom: 2rem;
}

.item-icon{
    font-size: 1.875rem;
    color: var(--primary-color);
}

.item-title{
    font-size: 1rem;
}

.item-desc{
    color: #4f4f4f;
    font-size: 0.875rem;
}